@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*,
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 1rem;
  position: relative;
  width: 100%;
  font-family: Poppins, "sans-serif";
  background-color: #1f242d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Products Popover ----------------------------- */
.section-react {
  width: 50rem;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  margin-top: 10rem;
  position: relative;
  display: flex;
  height: 22rem;
}
.section-react .title {
  flex-basis: 30%;
  position: relative;
  z-index: 2;
}
.section-react .title ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 1rem;
}
.section-react .title ul li {
  cursor: pointer;
}
.section-react .content-wraper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: lightcoral;
  border: 1px solid #1f242d;
  z-index: 1;
}
.section-react .content-wraper ul li:nth-child(1) {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease-out;
  z-index: 1;
  opacity: 1;
}
.section-react .content-wraper ul li:nth-child(1).reset-text {
  transition: all 0.2s;
  opacity: 0;
  transform: translate(0px, 10%);
}
.section-react .content-wraper ul li:nth-child(1).active-text {
  transition: all 0.3s;
  opacity: 1;
  transform: translate(0%, 0%);
}
.section-react .content-wraper ul li:nth-child(2) {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0%, -10%);
  transition: all 0.3s ease-out;
  z-index: 0;
  opacity: 0;
}
.section-react .content-wraper ul li:nth-child(2).active-text {
  transition: all 0.3s;
  opacity: 1;
  transform: translate(0%, 0%);
}
.section-react .content-wraper ul li:nth-child(2).reset-up {
  transition: all 0.2s;
  opacity: 0;
  transform: translate(0%, -10%);
}
.section-react .content-wraper ul li:nth-child(2).reset-down {
  transition: all 0.2s;
  opacity: 0;
  transform: translate(0%, 10%);
}
.section-react .content-wraper ul li:nth-child(3) {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0%, -10%);
  transition: all 0.3s ease-out;
  z-index: 0;
  opacity: 0;
}
.section-react .content-wraper ul li:nth-child(3).active-text {
  transition: all 0.3s;
  opacity: 1;
  transform: translate(0%, 0%);
}
.section-react .content-wraper ul li:nth-child(3).reset-up {
  transition: all 0.2s;
  opacity: 0;
  transform: translate(0%, -10%);
}
.section-react .title-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: lightcoral;
  z-index: -1;
  transition: all 0.3s;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid #1f242d;
  border-left: 1px solid #1f242d;
  border-bottom: 1px solid #1f242d;
  border-right: 1px solid lightcoral;
}
.section-react .title-bg .svg-container {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, 50%);
  background-color: transparent;
  border-radius: 50%;
  padding: 0.3rem;
  border: 2px solid white;
}
.section-react .title-bg .svg-container svg {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #61dbfb;
  transition: all 0.3s;
}

/* Developers Popover --------------------------------- */

/*# sourceMappingURL=card.css.map */
